SERVER_PORT=8081
DB_URL=jdbc:mysql://192.9.244.190:3306/zhixiaojiang?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
DB_USERNAME=zhixiaojiang
DB_PASSWORD=replace-with-dedicated-password
REDIS_HOST=192.9.244.190
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_ENABLED=true
JWT_SECRET=replace-with-at-least-32-random-characters
AI_BASE_URL=
AI_MODEL=
AI_API_KEY=
